html {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 500px;
    background-color: darkslategray;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.navbar ul {
    list-style-type: none; /* ul li 태그 앞 점 없애기*/
}

.navbar a {
    display: block;
    width: 50%;
    float: left;
    color: white;
    text-decoration: none;
}

.navbar::after {
    content: "";
    display: block;
    clear: both;
}

.navbar li {
    width: 100%;
    height: 40px;
    background-color: grey;

    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    height: 30px;
    padding-left: 5px;


    background-color: darkslategrey;
    border: 1px solid gray;
}

input[type="submit"] {
    width: 460px;
    height: 40px;
    background-color: aquamarine;
    font-size: 24px;
    color: white;
}

.info {
    height: 150px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}